---
import MainLayout from "../../layouts/MainLayout.astro";
import SkillCategory from "../../components/SkillCategory.astro";
import { ui } from "../../i18n/ui";

const lang = 'fr';
const t = ui[lang];

---

<MainLayout title="Expertise" lang={lang}>
  <main class="max-w-5xl mx-auto px-6 py-24">
    
    <section id="skills" class="mt-32">
      <h2 class="text-3xl font-bold mb-12 flex items-center gap-4">
        <span class="h-px w-12 bg-blue-500"></span>
        {t['skills.title']}
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <SkillCategory 
          title={t['skills.frontend']} 
          iconColor="bg-blue-500"
          skills={["React", "Svelte", "Astro", "Vue", "Tailwind CSS", "TypeScript"]}
        />
        
        <SkillCategory 
          title={t['skills.backend']} 
          iconColor="bg-emerald-500"
          skills={["Node.js", "Express", "PostgreSQL", "Sequelize", "Prisma", "REST API"]}
        />

        <SkillCategory 
          title={t['skills.devops']} 
          iconColor="bg-orange-500"
          skills={["Docker", "Docker Compose", "GitHub Actions", "Linux", "CI/CD"]}
        />

        <SkillCategory 
          title={t['skills.saas']} 
          iconColor="bg-purple-500"
          skills={["Modélisation DB", "Authentification JWT", "Architecture MVC", "Tests Unitaires"]}
        />
      </div>
    </section>

  </main>
</MainLayout>